@font-face {
  font-family: "intro";
  src: url("../fonts/IntroDemoCond-BlackCAPS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root{
--main-yellow-color: #F8EF26;    
}
.container{
  max-width: 1830px;  
}
body {
  margin: 0;
  padding: 0;
overflow-x: hidden;
}
h1{
text-transform: uppercase;
}
.nav-menu-desktop{
  
  max-width: 1830px;  
  width: 100%;
  position: fixed;
  background: white;
  top: 0;
  left:50%;
  transform: translateX(-50%);
  padding:5vw 2rem 2vw 2rem;
  padding-left: 21%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 3;
}
nav a img{

width: 2vw;  


}
nav a {
  line-height: 0;
  font-size: 1.2vw;
  font-family: "intro";
  text-decoration: none;
  color: black;
}

.logo{
    position: fixed;
    left:4rem;
    top:0;
    width: 14%;
    z-index: 50;
}

header{

}
.carousel-item,.carousel-inner{
  height:100%;
  width: 100%;
}
.carousel-item img{
  object-fit: cover;
  height:100%;

}
.carousel{
width: 100%;

}
.carousel-control-next,.carousel-control-prev{
width:10%;  
}
.carousel-rooms{
width: 50%;

}
.arrow-down{
  display: block;
  width:5%;
  margin:0 auto;
  padding: 1rem 0 1rem 0;
}
main{
display: flex;
flex-direction: column;  
}
.spacer-rooms{
  height:200px;
}
.upper-content{
  width:87%;
  margin:auto;
}
.upper-content p{
text-align: justify;
}
.middle-content,.middle-content-rooms{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;

}
.content-tile{
  padding: 2rem 0;
  width: 40%;
}
.content-tile img{
  width: 100%;
}
.middle-content-rooms{
  flex-direction: row;
}
.content-tile-rooms{
  padding:2rem 0;
  width: 87%;
display: flex;
/* flex-grow: 1; */
}
.rooms-content-container{
  display: flex;
  flex-direction: column;
  width: 50%;


}
.yellow-button{

  min-width: 20%;
  margin:2rem auto;
display: block;
text-align: center;
padding: 1rem 2rem;
background-color: var(--main-yellow-color);
color: black;
text-decoration: none;
font-weight: bold;
}
footer{
  display: flex;
  background-color: var(--main-yellow-color);
padding:2rem 0;
  justify-content: space-around;
}
.footer-left{
  display: flex;

}
.footer-left img{
height: 80px;
}
footer p{
font-size: 0.8rem;
  padding: 0rem 1rem;
}
.map iframe{
  width: 100%;
  min-height: 80vh;
  
}
.okolica{
  width:87%;
}
.contact-section{
align-items: center;
display: flex;
margin:auto;
min-height: 50vh;
}

@media (width < 992px){
.nav-menu-desktop{
  display: none;
}
.logo{
  width: 30%;
}
.carousel{
  height:96svh;
  padding: 0;
  margin: 0;
}
.container{
  padding: 0;
  margin: 0;
}

}





@media (width < 576px){
  nav a{
    display: none;
  }
  .logo{

    left:1rem;
    top:0;
    width: 45%;
    z-index: 50;
}
  .container{
    padding:0;
  }
  .content-tile{
    width: 100%;
  }
  footer, .footer-left{
    flex-direction: column;
  }
}